# Configurações do Servidor
PORT=5000
NODE_ENV=development

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

# Database
MONGODB_URI=mongodb+srv://amii_user:amii123456@ammi.o1cp74b.mongodb.net/AMMI?retryWrites=true&w=majority&appName=AMMI

# JWT
JWT_SECRET=2ac6a37bcb666c054ac61c2d0af4aa629ca34de8baa0c320764c11434840948e
JWT_EXPIRE=1d

# Cors
CORS_ORIGIN=http://localhost:5173 # Usado para a política de CORS
CLIENT_URL=http://localhost:5173 # URL do frontend para redirecionamentos

# Cloudinary
CLOUDINARY_URL=cloudinary://665252119858251:-AK9hsnVp4UuFA3PdxxVz7mFLe0@dxaacelde
CLOUDINARY_CLOUD_NAME=dxaacelde
CLOUDINARY_API_KEY=665252119858251
CLOUDINARY_API_SECRET=-AK9hsnVp4UuFA3PdxxVz7mFLe0

# PagSeguro / PagBank
PAGSEGURO_BASE_URL=https://sandbox.api.pagseguro.com
PAGSEGURO_TOKEN=SEU_TOKEN_PAGSEGURO