.btn-outline-secondary.active {
  background-color: #e83e8c; /* Cor custom-pink */
  color: white;
  border-color: #e83e8c;
}

.product-card-custom a {
  color: inherit;
  text-decoration: none;
}

.product-card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
